:root {
  --main-color: #f2bdcd;
  --secondary-color: #e53e7b;
  --third-color: #f9f7f5;
}

* {
  box-sizing: border-box;
  text-transform: lowercase;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  padding: 100px;
  border: 1px dotted var(--secondary-color);
  overflow: hidden;
  align-items: center;
  display: flex;
}

.pink {
  background-color: var(--main-color);
}

.light {
  background-color: var(--third-color);
}

.header,
.footer {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.footer {
  padding: 10px;
  text-align: center;
}

.footer .paragraph {
  font-size: 10px;
}

.header {
  position: fixed;
}

.header-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.link {
  margin: 10px;
  text-decoration: none;
  color: var(--secondary-color);
}

.paragraph {
  margin: 0;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}

.img {
  width: 300px;
}

.hero .img {
  border-radius: 40px 40px 40px 0;
}

.about-page .img {
  border-radius: 40px 40px 0 40px;
}

.about {
  max-width: 500px;
}

.resume {
  margin: 0;
}

.logo {
  width: 50px;
  margin-right: 18px;
}

.intro1,
.intro3 {
  font-size: 32px;
  margin: 0;
}

.intro2 {
  font-size: 64px;
  margin: 10px 0;
}

.intro4 {
  font-size: 18px;
  margin: 0;
}

.logo-list {
  padding: 0;
}

.logo-list-item {
  display: inline-block;
  list-style: none;
}

.contact {
  justify-content: center;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 100px;
}

.contact-list-item {
  margin: 20px;
}

.projects-page,
.contact {
  text-align: center;
  justify-content: center;
}

.title {
  text-transform: uppercase;
}

.github,
.projects {
  margin: 100px;
}

.project {
  width: 200px;
}

.link:hover {
  text-decoration: overline;
}

@media (max-width: 950px) {
  .projects-page .flex,
  .about-page {
    flex-direction: column;
  }

  .projects {
    margin: 0;
    align-items: center;
  }

  .project {
    width: auto;
  }
}

@media (max-width: 680px) {
  .hero-img {
    display: none;
  }

  .intro1,
  .intro3 {
    font-size: 44px;
  }

  .intro2 {
    font-size: 86px;
  }

  .intro4 {
    font-size: 32px;
  }
}

@media (max-width: 440px) {
  section {
    padding: 20px;
  }
  .intro1,
  .intro3 {
    font-size: 20px;
  }

  .intro2 {
    font-size: 44px;
  }

  .intro4 {
    font-size: 18px;
  }

  .flex {
    gap: 10px;
  }

  .github {
    margin: 40px 0 0;
  }

  .paragraph {
    font-size: 12px;
  }

  .link {
    font-size: 10px;
  }

  .logo {
    width: 30px;
  }

  .img {
    width: 200px;
  }
}
